@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
html,
body {
  margin: 0;
  padding: 0;
}

.App {
  padding: 20px;
}

.logo {
  font-family: "Abril Fatface", cursive;
  font-size: 8vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-decoration: none;
  animation-name: animatedLogo;
  animation-duration: 5s;
}

@keyframes animatedLogo {
  0% {
    opacity: 0%;
    font-size: 6vw;
  }
  100% {
    opacity: 100%;
    font-size: 8vw;
  }
}

.link {
  text-decoration: none;
}

a {
  text-decoration: none;
}
a:visited {
  color: black;
}

.navbarbutton {
  font-family: "Abril Fatface", cursive;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  border-right: 1px solid gainsboro;
}

.navbarLinks {
  height: 35px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

button {
  font-family: "Abril Fatface", cursive;
  background-color: transparent;
}

.logoutButton {
  border: none;
  background-color: transparent;
}
.addButton {
  border: none;
  background-color: transparent;
}

.login {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 30vh;
}

.labelform {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 3vh;
}

.divform {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  padding-top: 8px;
  border-bottom: 1px solid gainsboro;
  width: 100vw;
  background-color: white;
  margin-bottom: 3vh;
}

.submit {
  font-family: "Montserrat", sans-serif;
  color: white;
  border: none;
  background-color: black;
  width: 40vw;
  height: 4vh;
  margin-left: 29vw;
}
input:focus {
  outline: none;
  background-color: white;
}
input {
  background-color: white;
  text-align: center;
}

.inputForm {
  font-family: "Montserrat", sans-serif;
  border: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 0.5vh;
}

.redirectButton {
  font-family: "Raleway", sans-serif;
  margin-left: 42vw;
  margin-top: 3vh;
  border: none;
  background-color: transparent;
}

.signup {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}

h4 {
  margin: 0;
}
.userdata {
  font-family: "Montserrat", sans-serif;
  font-size: 3vw;
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
}

.userdataText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.favTitle {
  font-family: "Abril Fatface", cursive;
  font-size: 3vw;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gainsboro;
}

.favorites {
  line-height: 0;
  -webkit-column-count: 5;
  -webkit-column-gap: 0px;
  -moz-column-count: 5;
  -moz-column-gap: 0px;
  column-count: 3;
  column-gap: 0px;
  padding-bottom: 3px;
  padding-top: 10px;
}

.favs {
  max-width: 32vw;
  max-height: auto;
  background-color: whitesmoke;
  margin-left: 2.5px;
  margin-right: 3px;
  margin-top: 4px;
}

.results {
  line-height: 0;
  -webkit-column-count: 5;
  -webkit-column-gap: 0px;
  -moz-column-count: 5;
  -moz-column-gap: 0px;
  column-count: 2;
  column-gap: 0px;
  padding-bottom: 3px;
  padding-top: 10px;
}

.result {
  max-width: 48vw;
  max-height: auto;
  background-color: whitesmoke;
  margin-left: 2.5px;
  margin-right: 3px;
  margin-top: 4px;
}

.uploadImg {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
}
